.Header__container{
  margin-right: 25%;
  margin-left: auto;
  height: 64px;
  width: 403px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
  }
}

.Header__button{
  display: flex;
  align-items: center;
  align-items: center;
  margin-top: 8px;
  background: white;
  border: none;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 1;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1),
    0px 20px 40px rgba(31, 47, 71, 0.25);
  border-radius: 14px;
  padding: 10px 20px;
  width: 124px;
  height: 44px;
  font-size: 15px;
  font-weight: bold;

}

  .Header__cell{
  display: flex;
  align-items: center;
  align-items: center;
  margin-top: 8px;
  background: rgba(255,255,255,0);
  border: none;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 1;
  border-radius: 14px;
  padding: 10px 20px;
  width: 124px;
  height: 44px;
  font-size: 15px;
  color: white;
  font-weight: bold;

  }

.Header__link{
  text-decoration: none;
  color: white;
}

.Header__image{
  margin-left: 2px;
  margin-right: 4px;
  width: 24px;
  height: 24px;
}