.App{
}

.App__hero{
  width: 100%;
  background-image: url("./Images/Frontpage/BackgroundImage3.svg");
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    background-image: url("./Images/Frontpage/Background.svg");
  }

}

.App__frontpage{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    flex-direction:column;
  }
}

.App__image{
  align-items: center;
  justify-content: center;
  background-image:url("./Images/Frontpage/CodingPerson.svg");
  background-repeat: no-repeat;
  height: 663px;
  width: 497px;
  margin-right: 50px;

}

.App__title{
  width: 688px;
  height: 210px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  text-shadow: 0px 20px 40px rgba(0, 143, 200, 0.5);
  line-height: 100px;
}

.text__orange{
  color:#FFB68F;
}
.text__blue{
  color:#90DBFF;
}
